---
page_title: "{{.Name}} {{.Type}} - {{.ProviderName}}"
subcategory: "Edge Gateway (Tier-1)"
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Name}} ({{.Type}})

{{ .Description | trimspace }}

{{ if .HasExample -}}
## Example Usage

Example Simple Usage (Static Route with default next hop)
{{ tffile .ExampleFile }}
{{- end }}

Example Advanced Usage (Static Route with 2 next hops)
{{ tffile (printf "examples/resources/%s/resource_advanced.tf" .Name)}}

{{ .SchemaMarkdown | trimspace }}

{{ if .HasImport -}}
## Import

Import is supported using the following syntax:
{{ codefile "shell" .ImportFile }}
{{- end }}