---
page_title: "{{.Name}} {{.Type}} - {{.ProviderName}}"
subcategory: "Edge Gateway (Tier-1)"
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Name}} ({{.Type}})

{{ .Description | trimspace }}

{{ if .HasExample -}}
## Example Usage

{{ tffile .ExampleFile }}
{{- end }}

{{ .SchemaMarkdown | trimspace }}

{{ if .HasImport -}}
## Import

 -> **NAT rules with same name**
 If the NAT rules have the same name, you must use the ID instead of the name to retrieve the rule.
 
```shell
# The following NAT rules with Name 'dnat1' are available
# Please use ID instead of Name in import path to pick exact rule
  | Error: Multiple NAT Rules found with the same name
  | 
  | [...]
  |
  | ID                                       NAME         TYPE      
  | c3dcf9f8-77c4-462e-9ca5-2d35a3b04170     SAMENAME     DNAT      
  | 420554b0-50bd-4859-96a7-9a16bdc2fe9a     SAMENAME     DNAT 

$ terraform import cloudavenue_edgegateway_nat_rule.example edgeGatewayIDOrName.f40e3d68-cfa6-42ea-83ed-5571659b3e7b
```
Import is supported using the following syntax:
{{ codefile "shell" .ImportFile }}
{{- end }}