---
page_title: "{{.Name}} {{.Type}} - {{.ProviderName}}"
subcategory: "Edge Gateway (Tier-1)"
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Name}} ({{.Type}})

{{ .Description | trimspace }}

## Examples Usage

### Example with VDC

{{ tffile "examples/resources/cloudavenue_edgegateway/resource.tf" }}

### Example with VDC Group

{{ tffile "examples/resources/cloudavenue_edgegateway/resource-with-vdc-group.tf" }}

{{ .SchemaMarkdown | trimspace }}

## Bandwidth Attribute

The `bandwidth` attribute is optional. If no value is specified, the bandwidth is automatically calculated based on the remaining bandwidth of the Tier-0 VRF. For more information, see the [documentation of edge gateway](https://wiki.cloudavenue.orange-business.com/wiki/Network).

The following values are supported depending on the service class of the Tier-0 :

<!-- TABLE BANDWIDTH VALUES -->

Example with bandwidth:

```hcl
resource "cloudavenue_edgegateway" "example" {
  owner_name     = cloudavenue_vdc.example.name
  bandwidth      = 100
}
```

{{ if .HasImport -}}
## Import

Import is supported using the following syntax:
{{ codefile "shell" .ImportFile }}
{{- end }}