---
page_title: "{{.Name}} {{.Type}} - {{.ProviderName}}"
subcategory: "vApp (Virtual Appliance)"
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Name}} ({{.Type}})

{{ .Description | trimspace }}

!> **Warning on deleting resource:** Deleting a resource require **vApp to be in a powered OFF** state. 
If the vApp is in a powered on state, the resource will power OFF the vApp before deleting the resource and then power it back on.
On power **ALL** VMs in the vApp will be powered ON, regardless of their previous state.

{{ if .HasExample -}}
## Example Usage

{{ tffile .ExampleFile }}
{{- end }}

{{ .SchemaMarkdown | trimspace }}

{{ if .HasImport -}}
## Import

Import is supported using the following syntax:
{{ codefile "shell" .ImportFile }}
{{- end }}