---
page_title: "{{.Name}} {{.Type}} - {{.ProviderName}}"
subcategory: "vDC (Virtual Datacenter)"
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Name}} ({{.Type}})

{{ .Description | trimspace }}
 
 -> Note: For more information about Cloud Avenue vDC, please refer to the [Cloud Avenue documentation](https://wiki.cloudavenue.orange-business.com/wiki/Datacenter_virtuel).

 ~> **Warning**
 The VDC resource uses a complex validation system that is **incompatible** with the **Terraform module**. (See [Disable validation](#disable-validation))

{{ if .HasExample -}}
## Example Usage

{{ tffile .ExampleFile }}
{{- end }}

{{ .SchemaMarkdown | trimspace }}

<!-- TABLE VDC ATTRIBUTES PARAMETERS -->

<!-- TABLE STORAGE PROFILES ATTRIBUTES PARAMETERS -->

## Disable validation

To disable the validation system, you can use the following environment variable:
```shell
export CLOUDAVENUE_VDC_VALIDATION=false
```
The default value is `true`.

## Timeouts

The timeouts configuration allows you to specify the maximum amount of time that the provider will wait for a certain operation to complete. The following timeouts can be configured:

* `create` - 8 minutes.
* `update` - 8 minutes.
* `delete` - 5 minutes.

To configure the timeouts, use the following syntax:

```hcl
resource "cloudavenue_vdc" "example" {
  # ...
  timeouts {
    create = "10m"
    update = "10m"
    delete = "6m"
  }
}
```

{{ if .HasImport -}}
## Import

Import is supported using the following syntax:
{{ codefile "shell" .ImportFile }}
{{- end }}