---
page_title: "{{.Name}} {{.Type}} - {{.ProviderName}}"
subcategory: "vDC (Virtual Datacenter)"
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Name}} ({{.Type}})

{{ .Description | trimspace }}

## How to migrate existing resources

Original configuration:

{{ tffile .ExampleFile }}

Migrated configuration:

Rename the resource to `cloudavenue_vdcg` and add the `moved` block to the configuration:

```hcl
resource "cloudavenue_vdcg" "example" {
  name = "example"
  vdc_ids = [
    cloudavenue_vdc.example.id,
  ]
}

moved {
  from = cloudavenue_vdc_group.example
  to   = cloudavenue_vdcg.example
}
```

Run `terraform plan` and `terraform apply` to migrate the resource.

Example of terraform plan output:

```shell
Terraform will perform the following actions:

  # cloudavenue_vdc_group.example has moved to cloudavenue_vdcg.example
    resource "cloudavenue_vdcg" "example" {
        id      = "urn:vcloud:vdcGroup:xxxx-xxxx-xxxxx-xxxxxx"
        name    = "example"
        # (3 unchanged attributes hidden)
    }

Plan: 0 to add, 0 to change, 0 to destroy.
```

{{ if .HasExample -}}
## Example Usage

{{ tffile .ExampleFile }}
{{- end }}

{{ .SchemaMarkdown | trimspace }}

{{ if .HasImport -}}
## Import

Import is supported using the following syntax:
{{ codefile "shell" .ImportFile }}
{{- end }}