---
page_title: "{{.Name}} {{.Type}} - {{.ProviderName}}"
subcategory: "vDC Group (Virtual Datacenter Group)"
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Name}} ({{.Type}})

{{ .Description | trimspace }}

~> **Notes** The app port profile created is available for the all edge gateways and VDC group in your organization. <br>The app port profile `name` is unique in the organization.

{{ if .HasExample -}}
## Example Usage

{{ tffile .ExampleFile }}
{{- end }}

{{ .SchemaMarkdown | trimspace }}

## Advanced Usage

{{ tffile (printf "examples/resources/%s/resource-advanced.tf" .Name)}}

{{ if .HasImport -}}
## Import

Import is supported using the following syntax:
{{ codefile "shell" .ImportFile }}
{{- end }}