---
page_title: "{{.Name}} {{.Type}} - {{.ProviderName}}"
subcategory: "VM (Virtual Machine)"
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Name}} ({{.Type}})

{{ .Description | trimspace }}

## Examples

~> **Warning**
Due to a BUG in Terraform Framework, the **resource** and **state** block must be defined, even if empty.

### Minimal setup

This example shows how to create a simple VM.
The VM inherits resources from the template.

```hcl
data "cloudavenue_catalog_vapp_template" "example" {
  catalog_name  = "Orange-Linux"
  template_name = "debian_10_X64"
}

resource "cloudavenue_vapp" "example" {
  name        = "example-vapp"
  description = "This is an example vApp"
}

resource "cloudavenue_vm" "example" {
    name        = "example-vm"
    description = "This is a example vm"
    vapp_name = cloudavenue_vapp.example.name
    deploy_os = {
      vapp_template_id = data.cloudavenue_catalog_vapp_template.example.id
    }
    settings = {
        customization = {
            auto_generate_password = true
        }
    }
    resource = {}
    state = {}
}
```

### VM with template

This example shows how to create a VM from a vApp template.

```hcl
data "cloudavenue_catalog_vapp_template" "example" {
  catalog_name  = "Orange-Linux"
  template_name = "debian_10_X64"
}

resource "cloudavenue_vapp" "example" {
  name        = "example-vapp"
  description = "This is an example vApp"
}

resource "cloudavenue_vm" "example" {
  name        = "example-vm"
  description = "This is a example vm"
  vapp_name = cloudavenue_vapp.example.name
  deploy_os = {
    vapp_template_id = data.cloudavenue_catalog_vapp_template.example.id
    accept_all_eulas = true
  }
  state = {
    power_on = false
  }
  resource = {
    cpus   = 4
    memory = 4096
  }
}  
```

### VM with ISO

This example shows how to create a VM from an ISO file with a disk size of 20G.

```hcl
data "cloudavenue_catalog_media" "example" {
  catalog_name = "example-catalog"
  name         = "debian-9.9.0-amd64-netinst.iso"
}

resource "cloudavenue_vapp" "example" {
  name        = "example-vapp"
  description = "This is an example vApp"
}

resource "cloudavenue_vm" "example-iso" {
  name      = "example-vm-iso"
  vapp_name = cloudavenue_vapp.example.name
  deploy_os = {
    boot_image_id = data.cloudavenue_catalog_media.example.id
  }
  settings = {
    customization = {
      enabled = true
      auto_generate_password = true
    }
    os_type = "debian10_64Guest"
  }
  resource = {
    cpus   = 2
    memory = 2048
  }

  state = {
    power_on = false
  }
}

resource "cloudavenue_vm_disk" "example" {
  vapp_id       = cloudavenue_vapp.example.id
  bus_type      = "SATA"
  size_in_mb    = 20480
  is_detachable = false
  vm_id         = cloudavenue_vm.example-iso.id
}
```

-> **Advanced Examples**
See below for [Advanced VM Examples](#advanced--examples).

## Restart Required

<a id="restartrequired"></a>

~> **Some attributes changes require VM restart**
In this case, Terraform will report a difference to be applied, and will restart the VM.
The attributes is marked with the following text: **(Restart Required)**

~> **Cpu and Memory changes**
If you change the number of CPUs or the amount of memory and cpu/memory hotplug is not enabled, the VM will be restarted.

~> **Network changes**
If your change network card is primary, the VM will be restarted.

{{ .SchemaMarkdown | trimspace }}

{{ if .HasImport -}}
## Import

Import is supported using the following syntax:
{{ codefile "shell" .ImportFile }}
{{- end }}

<a id="advanced--examples"></a>
## Advanced Examples


### VM with Network

This example shows how to create a VM from a vApp template connected to a routed network.

{{ tffile "examples/resources/cloudavenue_edgegateway/resource.tf" }}

{{ tffile "examples/resources/cloudavenue_edgegateway_network_routed/resource.tf" }}

{{ tffile "examples/resources/cloudavenue_vapp/resource.tf"}}

{{ tffile "examples/resources/cloudavenue_vapp_org_network/resource.tf" }}

{{ tffile "examples/data-sources/cloudavenue_catalog_vapp_template/data-source.tf" }}}}

```hcl
resource "cloudavenue_vm" "example" {
  name      = "example-vm"
  vapp_name = cloudavenue_vapp.example.name
  deploy_os = {
    vapp_template_id = data.cloudavenue_catalog_vapp_template.example.id
  }
  settings = {
    guest_properties = {
      "guestinfo.hostname" = "example-vm"
    }
    customization = {
      enabled = true
      auto_generate_password = true
    }
  }
  resource = {
    cpus   = 2
    memory = 2048
    networks = [
      {
        type               = "org"
        name               = cloudavenue_vapp_org_network.example.network_name
        ip                 = "192.168.1.11"
        ip_allocation_mode = "MANUAL"
        is_primary         = true
      }
    ]
  }
}
```