---
page_title: "{{.Name}} {{.Type}} - {{.ProviderName}}"
subcategory: "VM (Virtual Machine)"
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Name}} ({{.Type}})

{{ .Description | trimspace }}

~> **NOTE:** The CloudAvenue UI defines two different entities (`Affinity Rules` and `Anti-Affinity Rules`). This resource combines both entities: they are differentiated by the `polarity` property (see below).

{{ if .HasExample -}}
## Example Usage

{{ tffile .ExampleFile }}
{{- end }}

{{ .SchemaMarkdown | trimspace }}

{{ if .HasImport -}}
## Import

Import is supported using the following syntax:
{{ codefile "shell" .ImportFile }}
{{- end }}
