---
page_title: "{{.Name}} {{.Type}} - {{.ProviderName}}"
subcategory: "VM (Virtual Machine)"
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}

---

# {{.Name}} ({{.Type}})

{{ .Description | trimspace }}

~> Only one media is allowed per VM.

{{ if .HasExample -}}
## Example Usage

{{ tffile .ExampleFile }}
{{- end }}

{{ .SchemaMarkdown | trimspace }}

## Import

Import is not supported for this resource
