---
page_title: "Cloud Avenue Provider"
subcategory: ""
description: |-
  {{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# Cloud Avenue Provider

This Provider provides utilities for working with Cloud Avenue platform.

Documentation regarding Data Sources and Resources can be found in the sidebar to the left.

 -> Note : If you need more information about Cloud Avenue, please visit [Cloud Avenue documentation](https://wiki.cloudavenue.orange-business.com/w/index.php/Accueil).

## Authentication

The provider needs to be configured with the proper credentials before it can be used.

Cloud Avenue support authentication with username, password and organization.

## Example Usage

{{ tffile .ExampleFile }}

{{ .SchemaMarkdown | trimspace }}
