---
page_title: "Cloud Avenue Provider"
subcategory: ""
description: |-
  {{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# Cloud Avenue Provider

{{ .Description | trimspace }}

Documentation regarding data sources and resources can be found in the left sidebar.

 -> Note : If you need more information about Cloud Avenue, please visit [Cloud Avenue documentation](https://wiki.cloudavenue.orange-business.com/w/index.php/Accueil).

## Authentication

The provider must to be configured with the appropriate credentials before it can be used.

Cloud Avenue supports authentication with a username, password and organization.

## Example Usage

{{ tffile .ExampleFile }}

{{ .SchemaMarkdown | trimspace }}
