---
page_title: "CloudAvenue Provider"
subcategory: ""
description: |-
  {{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# CloudAvenue Provider

The CloudAvenue Provider provides utilities for working with Cloud Avenue platform.
The provider needs to be configured with the proper credentials before it can be used.

Documentation regarding Data Sources and Resources can be found in the sidebar to the left.

 -> Note : If you need more information about Cloud Avenue, please visit [Cloud Avenue documentation](https://wiki.cloudavenue.orange-business.com/w/index.php/Accueil).
## Authentication

Cloud Avenue support authentication with username, password and organization.

## Known Limitations

Because of the way Cloud Avenue API works, it is not possible to work on many resources at the same time.
This means that if you have a Terraform configuration with multiple resources, you will need to run `terraform apply -parallelism=1` or `terraform destroy -parallelism=1`.

## Example Usage

{{ tffile .ExampleFile }}

{{ .SchemaMarkdown | trimspace }}
