---
page_title: "{{.Name}} {{.Type}} - {{.ProviderName}}"
subcategory: "Edge Gateway (Tier-1)"
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Name}} ({{.Type}})

{{ .Description | trimspace }}

{{ if .HasExample -}}
## Example Usage

{{ tffile .ExampleFile }}
{{- end }}

## Warning
~> **Scope of app port profile** The app port profile `name` is retrieved with 3 scopes: `tenant`, `provider`, and `system`. If you set the `name` attribute the application port profile is searched with the `tenant` scope if it is not found then it is searched the `Provider`, then `System`. In the IHM the `Provider` scope is named `Custom Applications` with the **no editable** fields and the `System` scope is named `Default Applications`.

{{ .SchemaMarkdown | trimspace }}

{{ if .HasImport -}}
## Import

Import is supported using the following syntax:
{{ codefile "shell" .ImportFile }}
{{- end }}