---
page_title: "{{.Name}} {{.Type}} - {{.ProviderName}}"
subcategory: "vDC (Virtual Datacenter)"
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Name}} ({{.Type}})

{{ .Description | trimspace }}

{{ if .HasExample -}}
## Example Usage

{{ tffile .ExampleFile }}
{{- end }}

### With existing vDC

```terraform
data "cloudavenue_vdc" "example" {
	name = "VDC_Frangipane"
}

data "cloudavenue_vdc_group" "example" {
  name = data.cloudavenue_vdc.example.vdc_group
}
```

{{ .SchemaMarkdown | trimspace }}

{{ if .HasImport -}}
## Import

Import is supported using the following syntax:
{{ codefile "shell" .ImportFile }}
{{- end }}