# Generate Listing of resources and datasources
name: ListingRD

on:
  workflow_dispatch:
  # pull_request:
  #   branches: [ "main" ]
  #   paths:
  #     - 'internal/provider/provider_resources.go'
  #    - 'internal/provider/provider_datasources.go'

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
    - uses: actions/checkout@v5
    - uses: actions/setup-go@v5
      with:
        go-version: '1.20'
    - run: |
        cd cmd/listing
        go mod tidy
        go run .
    - uses: stefanzweifel/git-auto-commit-action@v6
      with:
        add_options: '--force'
        commit_message: 'chore(script): changes by ci ListingRD (generate_listing)'
        file_pattern: 'cmd/listing/resource-ca.md'
        skip_dirty_check: true